body{
    margin: 0;
}
.header {
background-color: #F1F1F1;
text-align: left;
padding: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(224, 98, 214);
  }
  li {
    float: left;
    
  }
  
li  a {
    display: block;
    text-align: center;
    padding: 3px 14px;
    color: white;
    
   
  }
  li a:hover {
    background-color: rgb(54, 13, 13);
  }